body {
  background-image: url("https://i.imgur.com/2flUu4A.png");
  background-size: cover;
  margin: 1%;
}
h1 {
  color: #3e0607;
  font-size: 40px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #3e0607;
}
a:hover {
  text-decoration: none;
  color : white;
}
h3 {
  font-size: 30px;
}
.proverb {
  font-size: 20px;
  color: white;
}
.photocv {
  border-radius: 30px;
  box-shadow: 6px 6px 6px #3e0607;
}
.photocv:hover {
  box-shadow: 10px 10px 10px #3e0607;
}
h2 {
  color: #3e0607;
  font-size: 28px;
  line-height: 400%;
}
.contactSpeech {
  color: white;
  line-height: 300%;
  font-size: 20px;
}
.Bye {
  font-size: 20px;
  color: white;
  line-height: 150%;
}
.icons {
  margin-top: 15%;
}
