body {
  background-image: url("https://i.imgur.com/2flUu4A.png");
  background-size: cover;
  width: 99%;
  margin: 5px;
  margin-top: 15px;
  height: 950px;
}
img#left {
  position: absolute;
  left: 10px;
  top: 15px;
}
img#right {
  position: absolute;
  right: 10px;
  top: 15px;
}
img#bottomleft {
  position: absolute;
  left: 10px;
  bottom: 15px;
}
img#bottomright {
  position: absolute;
  right: 10px;
  bottom: 15px;
}
.name {
  color: #3e0607;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
header {
  width: 100%;
  float: left;
}
.proverb {
  margin-left: 140px;
  color: white;
}
.photocv {
  margin-left: 15px;
  float: left;
  border-radius: 30px;
  box-shadow: 6px 6px 6px #3e0607;
}
.photocv:hover {
  box-shadow: 10px 10px 10px #3e0607;
}
h2 {
  color: #3e0607;
  font-size: 35px;
  line-height: 250%;
}
.contactSpeech {
  color: white;
  line-height: 150%;
  margin-left: 100px;
  text-align: justify;
  margin-right: 20px;
}
.contactForm {
  width: 50%;
  text-align: center;
  margin-left: 25%
}
.Bye {
  text-align: center;
  color: white;
  line-height: 150%;
}
.GithubIcon {
  position: absolute;
  right: 850px;
  bottom: 50px;
}
.LinkedinIcon {
  position: absolute;
  right: 950px;
  bottom: 50px;
}
.MailIcon {
  position: absolute;
  right: 1050px;
  bottom: 50px;
}
@media all and (max-width: 1024px) {
  body {
    width: auto;
  }
  .contact {
    position: absolute;
    left: 35%;
    bottom: 00%;
  }
  img#bottomleft {
    bottom: 00%;
  }
  img#bottomright {
    bottom: 00%;
  }
  h3 {
    display: block;
    text-align: center;
  }
  .GithubIcon {
    bottom: 15%;
    left: 25%;
  }
  .LinkedinIcon {
    bottom: 15%;
    left: 45%;
  }
  .MailIcon {
    bottom: 15%;
    left: 65%;
  }
}
